<div [formGroup]="parentForm" [ngClass]="config.groupingClass">
    <label *ngIf="label" [attr.for]="key" [ngClass]="config.labelClass">{{label}}</label>
    <span class="rating">
        <input type="hidden" [id]="key" [name]="key" [formControlName]="key" />
        <span *ngFor="let star of stars; let i=index;" class="fa fa-star" [ngClass]="{'active': (i < value)}" (click)="setValue(i)"></span>
    </span>
    <div [ngClass]="config.errorClass" *ngIf="invalid && errorMessage">{{errorMessage}}</div>
</div>