/*
/**/node_modules
!config
!examples
!src
!tests
!docs

!.gitignore
!.npmignore
!index.ts
!package.json
!README.md
!.travis.yml
!tsconfig.json
!tslint.json

/**/*npm-debug.log*

/**/*.js
/**/*.js.map
/**/*.map.js
/**/*.metadata.json
/**/*.d.ts
!docs/**/*.js
!config/**/*.js
!examples/**/*.config.js