*
/**/*.ts
.git/**/*
.vscode/**/*
config/**/*
examples/**/*
node_modules/**/*

!src

!.npmignore
!index.d.ts
!index.metadata.json
!index.js
!package.json
!README.md

!src/**/*.js
!src/**/*.d.ts
!src/**/*.html
!src/**/*.metadata.json
!src/**/*.ngsummary.json
