<form (ngSubmit)="onSubmit()" [ngClass]="config.css.general.form">

	<fieldset [ngClass]="config.css.general.fieldset">
		<div *ngFor="let fieldMeta of fieldsMetadata" [ngSwitch]="fieldMeta.tag">
			<dorf-input *ngSwitchCase="config.INPUT" [metadata]="fieldMeta"></dorf-input>
			<dorf-radio *ngSwitchCase="config.RADIO" [metadata]="fieldMeta"></dorf-radio>
			<dorf-select *ngSwitchCase="config.SELECT" [metadata]="fieldMeta"></dorf-select>
			<dorf-checkbox *ngSwitchCase="config.CHECKBOX" [metadata]="fieldMeta"></dorf-checkbox>
		</div>
	</fieldset>
	<div>
		<button *ngIf="config.isButtonVisible" type="submit" [disabled]="!form || !form.valid">Save</button>
	</div>

</form>