<form (ngSubmit)="config.isButtonVisible && onSubmit()" [ngClass]="config?.formClass">

	<fieldset>
		<div *ngFor="let fieldMeta of fieldsMetadata" [ngSwitch]="fieldMeta.tag">
			<dorf-input *ngSwitchCase="'input'" [metadata]="fieldMeta" [parentForm]="form"></dorf-input>
			<dorf-select *ngSwitchCase="'select'" [metadata]="fieldMeta" [parentForm]="form"></dorf-select>
			<dorf-radio *ngSwitchCase="'radio'" [metadata]="fieldMeta" [parentForm]="form"></dorf-radio>
		</div>
	</fieldset>
	<div>
		<button *ngIf="config.isButtonVisible" type="submit" [disabled]="!form || !form.valid">Save</button>
	</div>

</form>