<div [formGroup]="parentForm" [ngClass]="config.groupingClass">
	<label *ngIf="label" [attr.for]="key" [ngClass]="config.labelClass">{{label}}</label>
	<select *ngIf="!multiple" [id]="key" [formControlName]="key" [ngClass]="config.fieldClass">
        <option *ngFor="let opt of optionsToSelect" [value]="opt.key">{{opt.value}}</option>
    </select>
	<select *ngIf="multiple" [id]="key" [formControlName]="key" [ngClass]="config.fieldClass" multiple>
        <option *ngFor="let opt of optionsToSelect" [value]="opt.key">{{opt.value}}</option>
    </select>
	<div [ngClass]="config.errorClass" *ngIf="invalid && errorMessage">{{errorMessage}}</div>
</div>