<form (ngSubmit)="config.isButtonVisible && onSubmit()" [ngClass]="config?.formClass">

	<fieldset>
		<div *ngFor="let fieldMeta of fieldsMetadata" [ngSwitch]="fieldMeta.tag">
			<dorf-input *ngSwitchCase="config.INPUT" [metadata]="fieldMeta" [parentForm]="form"></dorf-input>
			<dorf-radio *ngSwitchCase="config.RADIO" [metadata]="fieldMeta" [parentForm]="form"></dorf-radio>
			<dorf-select *ngSwitchCase="config.SELECT" [metadata]="fieldMeta" [parentForm]="form"></dorf-select>
			<dorf-checkbox *ngSwitchCase="config.CHECKBOX" [metadata]="fieldMeta" [parentForm]="form"></dorf-checkbox>
		</div>
	</fieldset>
	<div>
		<button *ngIf="config.isButtonVisible" type="submit" [disabled]="!form || !form.valid">Save</button>
	</div>

</form>