<form (ngSubmit)="config.isButtonVisible && onSubmit()" [ngClass]="config.css.general.form">

	<fieldset>
		<div *ngFor="let fieldMeta of fieldsMetadata" [ngSwitch]="fieldMeta.tag">
			<span *ngSwitchCase="config.INPUT">
				<custom-input *ngIf="fieldMeta.placeholder" [metadata]="fieldMeta"></custom-input>
				<dorf-input *ngIf="!fieldMeta.placeholder" [metadata]="fieldMeta"></dorf-input>
			</span>
			<dorf-radio *ngSwitchCase="config.RADIO" [metadata]="fieldMeta"></dorf-radio>
			<dorf-select *ngSwitchCase="config.SELECT" [metadata]="fieldMeta"></dorf-select>
			<dorf-checkbox *ngSwitchCase="config.CHECKBOX" [metadata]="fieldMeta"></dorf-checkbox>
		</div>
	</fieldset>
	<div>
		<button *ngIf="config.isButtonVisible" type="submit" [disabled]="!form || !form.valid">Save</button>
	</div>

</form>